* {
  margin: 0;
  padding: 0;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  line-height: 135%;
}

body {
  min-height: 100%;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
}

#background_image {
  background-image: url('../images/background-3.png');
}

.title_font {
  font-family: 'Georgia', Times, Times New Roman, serif;
}



/*********************************/
/************Header***************/
/*********************************/
.header_wrap {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.header {
  width: 100%;
  height: 38px;
}

.name {
  color: white;
  width: 20%;
  padding: 1.5% 0px;
  background-color: #4aaaa5;
  float: left;
  margin: 0% 24.5% 0 13%;
  text-align: center;
}

.page_listings {
  width: 27%;
  float: left;
  margin: 1.5% 0 0 0;
}

li {
  display: inline;
  border-right: 1px gray solid;
  padding: 0 5%;
  decoration: none;
}

#contact_link {
  border: none;
}

.page_listings > a {
  text-decoration: none;
  color: gray;
}

#header_hr {
  width: 100%;
  height: 3px;
  background-color: #cccccc;
  border: none;
  margin-bottom: 2%;
}


/************************************/
/************Main Content***************/
/************************************/

#content {
  width: 960px;
  margin: 2% 0 0 13%;
}

.main_content {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  float: left;
  padding: 0 20px 10px 20px;
  margin-bottom: 12%;
  width: 610px;
}

#about_me, #contact_me, #portfolio_title {
  color: #4aaaa5;
  margin: 3%;
  border-bottom: 2px solid #dddddd;
  padding-bottom: 2.5%;
}

#brett_photo {
  height: 200px;
  width: 200px;
  float: left;
}

#brett_bio {
  display: inline;
}

.form_title, input, #message_field {
  color: gray;
  margin: 0 3%;
}

input, #message_field {
  margin: 1% 0 4% 3%;
  width: 82%;
  padding: 1%;
}


#submit_button {
  padding: 2% 4%;
  color: white;
  background-color: #4aaaa5;
  border: none;
  decoration: none;
  margin-left: 3%;
  font-weight: 700;
  width: 20%;
}

#submit_button:hover{
  color:#4aaaa5;
  border: 2px solid #4aaaa5;
  background-color: white;
  padding: 1.75% 3.75%;
  decoration: none;
}

#message_field {
  height: 100px;
}

.project_images {
  width: 525px;
  margin-left: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.portfolio_img {
  height: 200px;
  width: 250px;
  margin: 1%;
}

.portfolio_link {
  background-color: rgba(74,170,165, 0.5);
  color: #ffffff;
  position: absolute;
  margin: -4% 0 0 0.15%;
  z-index: 1;
  width: 16.45%;
  text-align: center;
  padding: 5px 0;
}

/*********************************/
/**************Contacts***********/
/*********************************/

.sidebar {
  background-color: white;
  border: 1px solid #dddddd;
  flex-direction: column;
  float: right;
  width: 28.5%;
  margin-bottom: 12%;
}

.contacts_title {
  text-align: center;
  border-bottom: 2px solid #dddddd;
  width: 80%;
  margin: 3% 0 0 10%;
  color:#4aaaa5;
  padding-bottom: 2.5%;
}

.contacts_content {
  display: flex;
  justify-content: space-around;
  margin: 5% 5% 5% 12%;
}

img {
  height: 95%;
  width: 65%;
}

/*********************************/
/************Footer***************/
/*********************************/
.footer {
  clear: both;
  text-align: center;
  border-top: 8px solid #4aaaa5;
  padding: 20px 0;
  margin-top:2.1%;
  background-color: #666666;
  color: white;
  width: 100%;
  height: 30px;
  min-height: 30px;
  line-height: 0;
}

/*****************************/
/**********MQS***************/
/****************************/

@media screen and (max-width: 980px) {

  body {
    font-size: 80%;
  }

  .title_font {
    font-size: 150%;
  }

  .header_wrap {
    height: 55px;
    width: 100%;
  }

  .name {
    width: 20%;
    padding: 2% 0px;
    margin: 0 33% 0 13%;
  }

  .page_listings {
    width: 27%;
    margin: 1.5% 0 0 0;
  }

  #header_hr {
    width: 100%;
    height: 3px;
    background-color: #cccccc;
    border: none;
  }

  #content {
    width: 80%;
    margin: 2% 0 0 13%;
  }

  .main_content {
    float: left;
    padding: 0 4% 2% 4%;
    margin: 0 5% 4% 0;
    width: 52%;
  }

  .contact_main_content {
    padding-bottom: 2.5%;
    margin-bottom: 33%;
  }

  #brett_photo {
    height: 75%;
    width: 75%;
    margin: 1% 0 2% 8%;
  }

  #brett_bio {
    display: table-row;
  }

  .sidebar {
    background-color: white;
    border: 1px solid #dddddd;
    flex-direction: column;
    float: left;
    width: 28.5%;
    margin-bottom: 12%;
  }

  .contacts_title {
    font-size: 80%;
  }

  .project_images {
    width: 325px;
    margin-left: -1.5%;
    margin-bottom: 10.3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .portfolio_img {
    height: 200px;
    width: 250px;
    margin: 1%;
  }

  .portfolio_link {
    background-color: rgba(74,170,165, 0.5);
    color: #ffffff;
    position: absolute;
    margin: -6% 0 0 0.3%;
    z-index: 1;
    width: 31.3%;
    text-align: center;
    padding: 5px 0;
  }

}

@media screen and (max-width: 768px) {
  .project_images {
    width: 325px;
    margin-left: -1.5%;
    margin-bottom: 10.3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .portfolio_img {
    height: 125px;
    width: 145px;
    margin: 1%;
  }

  .portfolio_link {
    background-color: rgba(74,170,165, 0.5);
    color: #ffffff;
    position: absolute;
    margin: -8% 0 0 0.15%;
    z-index: 1;
    width: 16.45%;
    text-align: center;
    padding: 5px 0;
  }
}

@media screen and (max-width: 640px) {
  .header_wrap {
    background-color: purple;
  }
}
